/*strona głowna*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: black;
    min-height: 100vh;
}

header {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    color: black;
}

header,
form {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form .todo-button {
    padding: 0.5rem;
    padding-bottom: 0.7rem;
    font-size: 1.8rem;
    border: 2px solid black;
    background: white;
}

form .todo-button {
    color: black;
    border-left: none;
    background: lightgray;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .todo-button::before {
    content: "\2b";
    position: relative;
    padding: 0.5rem;
}

form .todo-button:hover {
    background: black;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    font-family: monospace;
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: rgb(245, 245, 245);
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: rgb(245, 245, 245);
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.trash-btn:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
    background-color: lightcoral;
}

.complete-btn:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
    background-color: lightgreen;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check,
.far fa-moon {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: lightgreen;
}

.completed>.complete-btn {
    background-color: lightgreen;
}

.anim {
    background-color: lightcoral;
    opacity: 0;
}

.anim>.trash-btn {
    background-color: lightcoral;
    opacity: 0;
}

.anim>.complete-btn {
    background-color: lightcoral;
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    content: "\25BC";
    margin: 1rem;
    position: relative;
    overflow: hidden;
    outline: 2px solid black;
}

select {
    font-weight: bolder;
    font-size: 16px;
    width: 15rem;
    cursor: pointer;
    padding: 1rem;
    color: white;
    background-color: black;
}

.select::after {
    content: "\25BC";
    background-color: black;
    color: white;
    position: absolute;
    top: -5px;
    right: 0;
    padding: 1.5rem;
    pointer-events: none;
    font-size: larger;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: lightgray;
    color: black;
    transition: all 0.3s ease;
}

option {
    font-size: 1.3rem;
    font-weight: bold;
}

.del-all {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgray;
    color: black;
    font-size: larger;
    font-weight: bold;
    transition: all 0.3s ease;
}

.del-all:hover {
    transition: all 0.3s ease;
    background-color: black;
    color: white;
}

footer {
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 5vh;
    text-align: center;
}